*{
    margin: 0px;
    padding: 0px;
}
/*----------------------------------------------------*/

/*----------------- Cuerpo ---------------------------*/
body {
    background-color: #e6e6e6;
    
}

body {
    width: 98%;
    max-width: 600px;
    margin: 10px 20px;
    height: 1000px;
}
/*-----------------------------------------------------*/
/*------------------- logotipo ------------------------*/
header div img{
    width: 70px;
    height: 70px;
    padding: 0px;
    margin: 0px;
}

header div img{
    position:absolute;
    left: 20px;
    top: 1px;
}
/*-----------------------------------------------------*/

/*------------------ Menú de navegación ---------------*/

header nav{
    background: #528FD5;
    /*background-color: gray;*/
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    position: absolute;
    width: 90%;
    margin-left: 70px;
    padding: 16px;
    top: 1px;
}

header nav ul li a {
    padding: 10px 40px;
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


header nav ul li ul li a{
    padding: 10px 20px;
    display: block;
    color: white;
    text-align: start;
}

header nav ul li a:hover {
    background: #303133;
}

header nav ul li{
    float: left;
    list-style: none;
}

nav li ul {
    display: none;
    position:absolute;
    min-width: 140px;

}

nav li:hover > ul {
    display: block;
    background: chocolate;
    float: left;
}

nav li ul > li {
    display: none;
    position:absolute;
}

nav li:hover > ul li{
    display: contents;
    float:left;
}
/*------------------------------------------------------*/

/*-------------------Section----------------------------*/
section {
    padding: 90px 90px;
    width: 98%;
    height: 30%;
}

#css img{
    position: absolute;
    margin: 0px;
    height: auto;
    width: auto;
    margin-left: 350px;
    top: 135px;
    
}

#css h2{
    position: absolute;
    margin: 0px;
    margin-left: 350px;
    top: 320px;
}

section h2{
width: 300px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}

section div #js img{
    position: absolute;
    height: auto;
    width: auto;
    margin-left: 800px;
}